<div id="fondo">
  
  <div class="wrapper">
    <br><br><br><br><br><br>
      <div class="left">
          <img src="https://lh3.googleusercontent.com/-fgQJiNVL3n8/W6mMOyo6cMI/AAAAAAAAAGs/tADnAvG1xucGZPGD8Ui2f4U4mapsfLawQCEwYBhgL/w140-h140-p/Administrador1.jpg" alt="user" width="100">
          <h3>Sebastian </h3>
           <h4>Aponte Pertuz</h4>
      </div>
      <div class="right">
          <div class="info">
              <h3>Informacion</h3>
              <div class="info_data">
                   <div class="data">
                      <h4>Email</h4>
                      <p>sebastianaponte17@gmail.com</p>
                   </div>
                   <div class="data">
                     <h4>Phone</h4>
                      <p>3155921337</p>
                </div>
              </div>
          </div>
        
        <div class="projects">
              <h3>Projects</h3>
              <div class="projects_data">
                   <div class="data">
                      <h4>Reciente</h4>
                      <p>Lorem ipsum dolor sit amet.</p>
                   </div>
                   <div class="data">
                     <h4>Mas Visto</h4>
                      <p>dolor sit amet.</p>
                </div>
              </div>
          </div>
        
          <div class="social_media">
              <ul>
                <li><a target="_blank" rel="noopener" href="https://www.facebook.com"><i class="fa fa-facebook-f"></i></a></li>
                <li><a target="_blank" rel="noopener" href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a></li>
                <li><a target="_blank" rel="noopener" href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
      </div>
  </div>
</div>  